version: '2'

services:
  postgres:
    image: postgres:9.4
    container_name: kong-database
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=kong
      - POSTGRES_DB=kong
  kong:
    image: mashape/kong:0.8.1
    ports:
      - 8800:8000
      - 8801:8001
      - 8443:8443
    links:
      - postgres:kong-database
    environment:
      - DATABASE=postgres
    volumes:
      - ./config.docker/kong.yml:/etc/kong/kong.yml
    command: sh -c 'until nc -w 2 kong-database 5432 > /dev/null; do sleep 1; done; kong start && tail -f /usr/local/kong/logs/error.log'
    depends_on:
      - postgres
